{block content}
	{snippet scoreTable}
	<div id="scoreTable-drop">
		<div id="scoreTable" n:if="!isset($waiting)">
			<div class="player player-1">
				<div class="player-name">{$player1->name} <span class="symbol symbol-{$player1->symbol}"></span></div>
			</div>
			<div class="score-table">
				<a n:href="offerDraw!" {if $canOfferDraw}onclick="var x = confirm('Do you want to offer your opponent a draw?'); if (!x) return false;" {else}onclick="alert('You can offer a draw only once per round!'); return false"{/if}> <span class="icon-draw"></span></a>
				<a n:href="giveUp!" onclick="var x = confirm('Do you really want to give up?'); if (!x) return false;"><span class="icon-give-up"></span></a>
				<div class="score">{$player1->score}</div>:<div class="score">{$player2->score}</div>
				<div class="player-turn">{ifset $nowPlaying}{if $nowPlaying->id == $player1->id}YOUR TURN{else}OPPONENT'S TURN{/if}{else}GAME PAUSED{/ifset}</div>
			</div>
			<div class="player player-2">
				<div class="player-name"><span class="symbol symbol-{$player2->symbol}"></span> {$player2->name}</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	{/snippet}
	{snippet gamefield}
	<div id="gamefield-drop">
		<div id="gamefield">
			<div n:ifset="$waiting" class="cover cover-waiting">
				<div id="pacman-loading"></div>
				<p>waiting for an another player<span class="loading-dots"><span>.</span><span>.</span><span>.</span></span> <br>
					<a class="button decline-button" n:href="MultiPlayer:logout">Leave the game.</a></p>
				<p>Invite code: <strong>{$inviteCode}</strong></p>
				<fieldset>
					<legend><label for="invite-link">Invite link:</label></legend>
					<textarea cols="40" id="invite-link" readonly="readonly" onclick="this.focus();this.select()">{$baseUrl}/multi-player/invite?code={$inviteCode}</textarea>
				</fieldset>
			</div>
			<div n:ifset="$drawOffer" class="cover cover-normal">
				<p>Opponent offered you a draw.</p>
				<p>Will you accept?</p>
				<a class="button accept-button" n:href="acceptDraw!">Accept</a>
				<a class="button decline-button" n:href="declineDraw!">Decline</a>
			</div>
			<div n:ifset="$giveUp" class="cover cover-normal">
				<p>{$loser} surrendered!</p>
				<div id="nextGame">
					<p><a class="button decline-button" n:href="MultiPlayer:logout">Leave the game</a> {if !$player1NextGame}<a class="button accept-button" n:href="newGame!">New game</a>{else}Waiting for an opponent<span class="loading-dots"><span>.</span><span>.</span><span>.</span></span>{/if}</p>
					<p n:if="$player2NextGame">Opponent wants next game!</p>
				</div>
			</div>
			<div n:if="isset($winner) || isset($draw)" class="cover cover-endgame">
				{ifset $winner}
                <p>Winner is: {$winner["player"]->name}!</p>
                {elseifset $draw}
                <p>Draw!</p>
                {/ifset}
				<div id="nextGame-drop">
					<div id="nextGame">
						<p><a class="button decline-button" n:href="MultiPlayer:logout">Leave the game</a> {if !$player1NextGame}<a class="button accept-button" n:href="newGame!">New game</a>{else}Waiting for an opponent<span class="loading-dots"><span>.</span><span>.</span><span>.</span></span>{/if}</p>
						<p n:if="$player2NextGame">Opponent wants next game!</p>
					</div>
				</div>
			</div>
			{ifset $gamefield}
			<div n:foreach="$gamefield as $col" class="gamefield-col col-{$iterator->counter-1}">
				{var $colNum = $iterator->counter-1}
				{ifset $winner}
					{foreach $col as $row}
						{var not = false}
						{var $rowNum = $iterator->counter-1}
						{foreach $winner["row"] as $winRow}
							{if $winRow[0] == $colNum && $winRow[1] == $rowNum}
								<a class="gamefield-row row-{$rowNum} not-active winning">
									<span n:if="$row != 0" class="symbol symbol-{$row}"></span>
								</a>
							{var $not = true}
							{else}
								{if $iterator->last}
									<a n:if="!$not" class="gamefield-row row-{$rowNum} not-active">
										<span n:if="$row != 0" class="symbol symbol-{$row}-loss"></span>
										{var $not = false}
									</a>
								{/if}
							{/if}
						{/foreach}
					{/foreach}
				{else}
					<a n:foreach="$col as $row" class="gamefield-row row-{$iterator->counter-1} ajax{if isset($lastMove[0]) && isset($lastMove[1]) && $lastMove[0] == $colNum && $lastMove[1] == $iterator->counter-1} last-move"{else}"{/if} n:href="play! $colNum, $iterator->counter-1">
						<span n:if="$row != 0" class="symbol symbol-{$row}"></span>
					</a>
				{/ifset}
			</div>
			{else}
				<div n:for="$col = 0; $col < 16; $col++" class="gamefield-col col-{$col}">
					<div n:for="$row = 0; $row < 16; $row++" class="gamefield-row row-{$row}">
					</div>
				</div>
			{/ifset}
		</div>
	</div>
    {/snippet}

<a n:href="refresh!" class="ajax" id="refresh">refresh (debug)</a>