{block content}
<h2>You have been invited to the game!</h2>

<form n:name="inviteForm">
    <p>{label username}</p>
    <p><input n:name="username"></p>
    <input n:name="code" value="{$code}">
    <p><input n:name="submit" class="play-button"></p>
</form>