{block content}
<h2>Multiplayer menu</h2>
<div id="menu">
    <ul>
        <li>
            <a n:href="MultiPlayer:join" class="menu-item">Join an existing game</a>
        </li>
        <li>
            <a n:href="MultiPlayer:startup" class="menu-item">Create a new game</a>
        </li>
        <li>
            <a n:href="Homepage:" class="menu-item">← Back to homepage</a>
        </li>
    </ul>
</div>
