{block content}
<h2>Game settings</h2>
<form n:name="startupForm">
    <p>{label nickname}: <input n:name="nickname"></p>
    <div class="switch-field">
        {foreach $form[player]->items as $key => $label}
            <input n:name="player:$key"{if $key == 1} checked{/if}>
            <label n:name="player:$key"><span class="symbol symbol-{$key}"></span></label>
        {/foreach}
    </div>
    <p><label n:name="playFirst">
            <input n:name="playFirst" checked>Play first
        </label></p>
    <p><input n:name="submit" class="play-button"></p>
</form>