{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Piskvorky - 5 in a row</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{$basePath}/favicon.png">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div class="container">
		<header>
			<h1>„piSkW0rkY“ 5-in-a-row <small>(pre-alpha)</small></h1>
		</header>
		<section>
		{include content |indent:3}

		</section>
		<footer>
            <p>&copy; 2018 <a href="https://github.com/panyame">@panyame</a> &blacksquare; <a n:href="Homepage:about">About</a> &blacksquare; <a n:href="Homepage:rules">Rules</a> &blacksquare; <a href="https://www.bitbucket.org/YameCz/piskvorky" target="_blank">Source code</a></p>
		</footer>
	</div>
	{block scripts}
	<script src="{$basePath}/js/jquery.min.js"></script>
	<script src="{$basePath}/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
