{block content}
<h2>About game</h2>
<p><strong>„piSkW0rkY“ 5-in-a-row</strong> is free lightweight gomoku-like browser game, which you can play anywhere on any device.</p>
<p>You <strong>don't</strong> need fscking flash player.</p>
<p>Working on: AI, Renju mode and offline mode.</p>
<p><a n:href="Homepage:">← Back to homepage</a></p>