{block content}
<h2>Menu</h2>
<div id="menu">
    <ul>
        <li>
            <a href="#" class="menu-item">Single Player</a>  - <strong>not implemented AI yet</strong>
        </li>
        <li>
            <a n:href="MultiPlayer:menu" class="menu-item">Multi Player</a>
        </li>
    </ul>
</div>
