{block content}
<h2>Rules</h2>
<ol>
    <li>The game ends when any of players connects 5 symbols diagonally, in a row, or in a column.</li>
    <li>You can offer a draw <strong>once</strong> per round.</li>
</ol>

<a n:href="Homepage:">← Back to homepage</a>