{block content}
{snippet scoreTable}
	<div id="scoreTable-drop">
		<div id="scoreTable" n:if="!isset($waiting)">
			<div class="player player-1">
				<div class="player-name">Player <span class="symbol symbol-{$playerSymbol}"></span></div>
			</div>
			<div class="score-table">
				<a href="#" onclick="alert('You can\'t offer draw in this mode!'); return false"> <span class="icon-draw"></span></a>
				<a n:href="giveUp!" class="ajax" onclick="var x = confirm('Do you really want to give up?'); if (!x) return false;"><span class="icon-give-up"></span></a>
				<div class="score">{$playerScore}</div>:<div class="score">{$playerAIScore}</div>
				<div class="player-turn">{if !isset($surrendered) && !isset($winner)}YOUR TURN{else}GAME PAUSED{/if}</div>
			</div>
			<div class="player player-2">
				<div class="player-name"><span class="symbol symbol-{$playerAISymbol}"></span> Computer</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
{/snippet}
{snippet gamefield}
<div id="gamefield">
    <div class="cover cover-waiting" n:ifset="$surrendered">
        <p>You surrendered!</p>
        <div id="nextGame">
            <p><a class="button decline-button" n:href="SinglePlayer:logout">Leave the game</a> <a class="button accept-button ajax" n:href="newGame!">New game</a></p>
        </div>
    </div>
	<div class="cover cover-waiting" n:ifset="$draw">
		<p>Draw!</p>
		<div id="nextGame">
			<p><a class="button decline-button" n:href="SinglePlayer:logout">Leave the game</a> <a class="button accept-button ajax" n:href="newGame!">New game</a></p>
		</div>
	</div>
    <div class="cover cover-waiting" n:ifset="$winner">
        <p>{if $winner["name"] == $playerSymbol}You{else}Computer{/if} won!</p>
        <div id="nextGame">
            <p><a class="button decline-button" n:href="SinglePlayer:logout">Leave the game</a> <a class="button accept-button ajax" n:href="newGame!">New game</a></p>
        </div>
    </div>
	<div n:foreach="$gamefield as $col" class="gamefield-col col-{$iterator->counter-1}">
		{var $colNum = $iterator->counter-1}
		{ifset $winner}
		{foreach $col as $row}
            {var not = false}
		{var $rowNum = $iterator->counter-1}
		{foreach $winner["row"] as $winRow}
		{if $winRow[0] == $colNum && $winRow[1] == $rowNum}
		<a class="gamefield-row row-{$rowNum} not-active winning">
			<span n:if="$row != 0" class="symbol symbol-{$row}"></span>
		</a>
			{var $not = true}
		{else}
		{if $iterator->last}
		<a n:if="!$not" class="gamefield-row row-{$rowNum} not-active">
			<span n:if="$row != 0" class="symbol symbol-{$row}-loss"></span>
            {var $not = false}
		</a>
		{/if}
		{/if}
		{/foreach}
        {/foreach}
		{else}
		<a n:foreach="$col as $row" class="gamefield-row row-{$iterator->counter-1} ajax" n:href="play! $colNum, $iterator->counter-1">
			<span n:if="$row != 0" class="symbol symbol-{$row}"></span>
		</a>
		{/ifset}
	</div>
</div>
{/snippet}