{block content}
<h2>Player settings</h2>
<form n:name="startupForm">
    <div class="switch-field">
        {foreach $form[player]->items as $key => $label}
            <input n:name="player:$key"{if $key == 1} checked{/if}>
            <label n:name="player:$key"><span class="symbol symbol-{$key}"></span></label>
        {/foreach}
    </div>
    <p><input n:name="playFirst" checked><label n:name="playFirst">Player will start a game.</label></p>
    <p><input n:name="submit" class="play-button"></p>
</form>