@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

body {
	font-family: 'Saira Condensed', sans-serif;
	text-align: center;
}

.container {
	width: 768px;
	height: auto;
	margin: auto;
}

#gamefield {
	width: 400px;
	height: 400px;
	margin: auto;
	position: relative;
}

#gamefield, .gamefield-row {
	border: 1px solid rgb(126, 126, 126);
}

.gamefield-row.last-move {
    background: #11a293;
}

.gamefield-col {
	width: 100%;
	height: 6.25%;
	background: #7A7772;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

#refresh {
	display: none;
}

.gamefield-row {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 6.25%;
	height: 100%;
	background: #14bdac;
	display: inline-block;
	cursor: pointer;
}

.gamefield-row:hover {
	background: #aca9a4;
}

.gamefield-row:active {
	background: #a6a39d;
	color: #454545;
}

.symbol-1 {
	background: url("circle.svg");
}

.symbol-2 {
	background: url("cross.svg");
}

.gamefield-row .symbol-1-loss {
	background: url("circle-loss.svg");
	opacity: .5;
}

.symbol-2-loss {
	background: url("cross-loss.svg");
	opacity: .5;
}
.symbol {
	width: 16px;
	height: 16px;
	margin: auto;
	position: relative;
	top: 4px;
	display: block;
}

#now-playing .symbol {
	margin: 0;
	display: inline-block;
}

.not-active {
	pointer-events: none;
	display: block;
}

.not-active.winning {
	background: #14bdac;
}

.cover {
	position: absolute;
	width: 100%;
	height: 70%;
	text-align: center;
	z-index: 2;
	padding-top: 30%;
}

.cover.cover-waiting {
	background: rgba(51, 51, 51, 0.62);
	color: white;
	padding-top: 15%;
	height: 85%;
}

.cover.cover-normal {
	background: rgba(51, 51, 51, 0.62);
	color: white;
}

.cover.cover-endgame{
	color: white;
	font-weight: bold;
	z-index: 9;
	text-shadow: 0 1px rgba(51, 51, 51, 0.64);
	background: rgba(52, 52, 52, 0.59);
}

#pacman-loading {
	background: url("spinner.svg");
	width: 64px;
	height: 64px;
	margin: auto;
}

#json {
	display: none;
}

#invite-link {
	background: #777777;
	border-radius: 0;
	border: 0;
	color: white;
}

#scoreTable {
	width: 402px;
	margin: auto;
	background: #139a8a;
	position: relative;
}

.score-table {
	width: 30%;
	float: left;
}

.score-table .score {
	display: inline-block;
	position: relative;
}

.player-name {
	position: relative;
	top: 13.5px;
}

.player {
	width: 35%;
}

.player.player-1 {
	float: left;
}

.player.player-2{
	float: right;
}

.player .player-score, .player .player-name {
	display: inline-block;
}

.player-1 .symbol, .player-2 .symbol {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 1px;
}

.player-turn {
	font-weight: bold;
}

/* CLEAR FIX */

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* MENU */

#menu {
	width: 50%;
	margin: auto;
}

#menu ul li {
	border: 1px solid #333;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#menu ul {
	list-style-type: none;
	padding-left: 0;
}

/* BUTTONS */

.play-button {
	width: 128px;
	height: 35px;
	cursor: pointer;
	font-family: inherit;
	background: #d0e2b1;
	border: 1px solid #333;
	font-weight: bold;
}

.play-button:hover {
	box-shadow: inset 0 0 2px #333;
}

.button {
	width: 128px;
	height: 30px;
	background: #42d495;
	padding: 5px;
	text-underline: none;
	display: inline-block;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	box-shadow: 1px 1px 2px #333;
	border: 1px solid rgba(0,0,0,0);
}

.button.accept-button {
	background: #42d495;
	color: #333333;
}

.button.decline-button {
	background: #e57973;
	color: white;
}

.button:hover {
	box-shadow: 2px 2px 2px #333, inset 0 0 2px #333;
}

/* FLASH */

.flash {
	padding: 5px;
	text-align: center;
}

.flash.error {
	background: red;
	color: white;
}

.flash.success {
	background: darkseagreen;
	color: white;
}

.flash.info {
	background: #3484D2;
	color: white;
}

/* SWTICH RADIO */

.switch-field {
	width: 180px;
	margin: auto;
	overflow: hidden;
}

.switch-field .symbol {
	position: relative;
	top: 0;
}

.switch-title {
	margin-bottom: 6px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	float: left;
}

.switch-field label {
	display: inline-block;
	width: 60px;
	background-color: #c3c3c3;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #A5DC86;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.icon-draw {
	width:  20px;
	height: 20px;
	background: url("hand-shake.svg");
	display: inline-block;
	position: absolute;
	left: 35%;
	top: 20%;
	cursor: pointer;
}

.icon-give-up {
	width:  16px;
	height: 16px;
	background: url("thumb-down.svg");
	display: inline-block;
	position: absolute;
	left: 60%;
	top: 20%;
	cursor: pointer;
}

/* LOADING DOTS */

@keyframes blink {
	/**
     * At the start of the animation the dot
     * has an opacity of .2
     */
	0% {
		opacity: .2;
	}
	/**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
	20% {
		opacity: 1;
	}
	/**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
	100% {
		opacity: .2;
	}
}

.loading-dots span {
	/**
     * Use the blink animation, which is defined above
     */
	animation-name: blink;
	/**
     * The animation should take 1.4 seconds
     */
	animation-duration: 1.4s;
	/**
     * It will repeat itself forever
     */
	animation-iteration-count: infinite;
	/**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
	animation-fill-mode: both;
	font-size: 1.5em;
}

.loading-dots span:nth-child(2) {
	/**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
	animation-delay: .2s;
}

.loading-dots span:nth-child(3) {
	/**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
	animation-delay: .4s;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
}